*{
    margin: 0px;
    padding: 0px;
   font-family: sans-serif;
}
.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 70vh 10vh 10vh;
    grid-template-areas: "title" "body" "reset" "footer";
    

}

.title{
    grid-area: title;
    background-color: #463f3a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.middle{
    display: grid;
    grid-template-columns: repeat(3,80px);
    grid-template-rows: repeat(3,80px); 
    gap: 10px;
    grid-area: body;
    justify-self: center;
    margin-top: 12vh;
}
@media (max-width:576px){
    .middle{
        display: grid;
        grid-template-columns: repeat(3,80px);
        grid-template-rows: repeat(3,80px); 
        gap: 10px;
        grid-area: body;
        justify-self: center;
        margin-top: 12vh;
    }
}
.val{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle div{
    background-color: #463f3a;
    border: 1px solid black;
    color: white;
   font-size: 22px;
}
.reset{
    background-color: #8a817c;
    grid-area: reset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.btn{
    background-color: #463f3abe;
    color: white;
    height: 30px;
    width: 90px;
    border-radius: 5px;
  
}
.footer{
    background-color: #463f3a;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}